/*
    Studio Tracker
    Author: Eric Rogers
*/

/*--- site wide styles --*/
body {
    /*background: linear-gradient(rgba(0,0,0,0) 60%, rgba(25,25,25,1)), url(../images/dark_fish_skin.png);*/
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(#fff 50%, #999);
}

.container {
    width: 100%;
    margin-top: 100px;
    padding: 0 0 30px 0;
    border-radius: 5px;
    box-shadow: 0 3px 5px #999;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: block;
    background: rgba(200,200,200,0.4);
}

.navbar {
    z-index: 1000;
}

.navbar-brand {
    width: 250px;
    text-align: center;
}

#branding {
    color: #3070A9;
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    margin-top: 10px;
    font-size: 1.75em;
    height: 20px;
    text-align: center;
    color: #3070A9;
}

/*--- page forms --*/
form {
    padding: 10px;
    margin: 20px 30px;
    min-width: 270px;
    float: left;
    border: 3px solid #3070A9;
    border-radius: 10px;
    background: #fff;
}

legend {
    color: #4d4d4d;
}

label {
    color: #4d4d4d;
}

.form-control {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.4, #FFFFFF),
            color-stop(1, #CBECF2)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 40%, #CBECF2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 40%, #CBECF2 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 40%, #CBECF2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 40%, #CBECF2 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 40%, #CBECF2 100%);
}

.form-control:hover {
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);

}

/*-- listing boxes --*/

 #listing ul {
    margin: 20px 0 0 30px;
    float: left;
    width: 284px;
}

.list-group button {
    float: right;
}

.glyphicon-user {
    margin-right: 5px;
}

.close:hover {
    color: red;;
}

#submit {
    height: 40px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

footer p {
    color: #fff;
    text-align: center;
    line-height: 2;
    background: #4d4d4d;
}

@media (max-width: 768px){
    h2 {
        visibility: hidden;
    }
} 

