<ul class="list-group col-md-3" ng-repeat="client in clients track by $index"> <!-- start of the client listing -->
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-user"></span>
        {{ client.name }}
        <button type="button" class="close" aria-hidden="true" ng-click="deleteClient(client)">&times;</button>
    </li>
    <li class="list-group-item text-primary">
        <p>{{ client.street }}</p>
        <p>{{ client.city }}, {{ client.state }} {{ client.zipCode }}</p>
    </li>
</ul> <!-- end of the client listing -->