


    <h3 class="date">{{date | date: 'MM-dd-yyyy'}}</h3>    
<div id="clients-toggle" class="panel">
<h3><a href="" data-toggle="collapse" data-target="#clients-form" data-parent="#sidebar"><span class="glyphicon glyphicon-plus-sign"></span> Add Client</a></h3>
<form name="clients_form" id="clients-form" class="panel-collapse collapse"> <!-- start of the Clients form -->
    <fieldset class="panel-body">
        <div class="form-group">
            <label for="name">Client Name:</label>
            <input type="text" class="form-control" id="name" ng-model="name" placeholder="Client Name" required>
        </div>
        <div class="form-group">
            <label for="street">Street:</label>
            <input type="text" class="form-control" id="street" ng-model="street" placeholder="Street" required>
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" ng-model="city" placeholder="City" required>
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" ng-model="state" placeholder="State"required>
        </div>
        <div class="form-group">
            <label for="zipCode">Zip Code:</label>
            <input type="text" class="form-control" id="zipCode" ng-model="zipCode" placeholder="Zip Code"required>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" ng-click="addClient()">Add +</button>
    </fieldset>
</form> <!-- end of clients form -->
</div> <!-- end of the client form toggle -->
    
    
<div id="projects-toggle" class="panel">
    <h3><a href="" data-toggle="collapse" data-target="#projects-form" data-parent="#sidebar"><span class="glyphicon glyphicon-plus-sign"></span> Add Project</a></h3>
    <form name="projects_form" id="projects-form" class="panel-collapse collapse"> <!-- start of the Projects form -->
    <fieldset class="panel-body">
        <div class="form-group">
            <label for="pName">Project Name:</label>
            <input type="text" class="form-control" id="pName" ng-model="pName" placeholder="Project Name" required>
        </div>
        <div class="form-group">
            <label for="pDescription">Description:</label>
            <textarea class="form-control" id="pDescription" rows="3"
                      ng-model="pDescription" placeholder="Description" required></textarea>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" ng-click="addProject()">Add +</button>
    </fieldset>
</form> <!-- end of Projects form -->
</div> <!-- end of projects toggle -->

<div id="team-toggle" class="panel">
        <h3><a href="" data-toggle="collapse" data-target="#team-form" data-parent="#sidebar"><span class="glyphicon glyphicon-plus-sign"></span> Add Team Member</a></h3>
<form name="teamMember_form" id="team-form" class="panel-collapse collapse"> <!-- start of the Team Member form -->
    <fieldset class="panel-body">
        <div class="form-group">
            <label for="name">Team Member Name:</label>
            <input type="text" class="form-control" id="name" ng-model="name" placeholder="Team Member Name" required>
        </div>
        <div class="form-group">
            <label for="job">Position:</label>
            <input type="text" class="form-control" id="job" ng-model="job" placeholder="Position" required>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" ng-click="addTeamMember()">Add +</button>
    </fieldset>
</form> <!-- end of Team Member form -->
</div>


