<!-- Studio Tracker
    Author: Eric Rogers -->
<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand glyphicon glyphicon-globe" id="branding" href="#"> WebStudioAdmin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
        <li><a class="glyphicon glyphicon-user" href="#/view1/Clients"> Clients</a></li>
        <li class="active"><a class="glyphicon glyphicon-file" href="#/view2/Projects"> Projects</a></li>
        <li><a class="glyphicon glyphicon-info-sign" href="#/view3/Team"> Team</a></li>
    </ul>
    <h2>{{ page }} Directory</h2>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<div class="spacer"></div> <!-- spacer -->

<form name="projects_form" class="col-md-3"> <!-- start of the Projects form -->
    <fieldset>
        <legend>Add a Project</legend>
        <div class="form-group">
            <label for="pName">Project Name:</label>
            <input type="text" class="form-control" id="pName" ng-model="pName" placeholder="Project Name" required>
        </div>
        <div class="form-group">
            <label for="pDescription">Description:</label>
            <textarea class="form-control" id="pDescription" rows="3"
                      ng-model="pDescription" placeholder="Description" required></textarea>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" ng-click="addProject()">Add +</button>
    </fieldset>
</form> <!-- end of Projects form -->
<div id="listing">
<ul class="list-group col-md-3" ng-repeat="project in projects track by $index"> <!-- start of the projects listing -->
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-file"></span>
        {{ project.pName }}
        <button type="button" class="close" aria-hidden="true" ng-click="deleteProject(project)">&times;</button>
    </li>
    <li class="list-group-item text-primary">
        <p>{{ project.pDescription }}</p>
    </li>
</ul> <!-- end of the projects listing -->
</div>