<!-- Studio Tracker
    Author: Eric Rogers -->

<div id="listing">
<ul class="list-group col-md-3" ng-repeat="name in teamMembers track by $index"> <!-- start of team member listings -->
    <li class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{ name.name }}
        <button type="button" class="close" aria-hidden="true" ng-click="deleteTeamMember(name)">&times;</button>
    </li>
    <li class="list-group-item text-primary">
        <p>{{ name.job}}</p>
    </li>
</ul> <!-- end of team member listings -->
</div>